#navbar {
  display:flex;
  flex: 1;
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-evenly;
}

#navbar ul {
  display:flex;
}

#navbar li {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 20px;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

/* FOOTER */

footer {
  display: flex;
  gap: 20px;
  padding: 0px 100px;
  background-color: #333333;
  color: white;
  bottom: 0;
  width: 100%;
  position: fixed;

}

.footer-list .items{
  display: flex;
}

footer * {
  flex: 1;
}
.footer-list ul {
  list-style: none;
  padding-inline-start: 0px;
}

.footer-list ul {
  display: inline;
} 

.footer-list ul a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  background-color: #495e57;
  padding: 0 15%;
  height: 400px;
}

.left-side,
.right-side {
  width: 50%;
}
